.JobCard{
    /* color: black; */
    /* background-color: white; */
    position: relative;
    display:block;
    box-sizing: border-box;
    padding: 1rem;
    text-align:left;
    /* border: 1px black solid; */
}